
.nav{
    font-family: "SF Pro TC","SF Pro Display","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #339966;
    color: aliceblue;
    font-size: 50px;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    height: 70px;
}